{% extends "generic/base.html" %}
{% load cust_filter%}
{% load tz%}

{% block title %}
Detail
{% endblock title %}

{% block content %}
<div class="book_detail">

  <h2> {{book.title}} </h2>
  <img src="{{ book.cover_image.url }}" alt='...'>
  <p> </p>
  <h3> {{book.author}} </h3>
  <h3> {{book.year}} </h3>
  <h3> {{book.get_status_display}} </h3>
  <h3> Book added to collection: {{book.date_added}} </h3>
  <h3> Status last changed {{book.last_borrowed|get_date_string}}</h3>

</div>
{% endblock content %}

